/* DESKTOP STYLES */
@media (orientation: landscape) {
  /* Global styles */

  * {
    font-family: 'Fira Sans', arial, sans-serif;
    color: white;
    font-weight: 200;
    text-shadow: 0 0 10px black;
  }

  body {
    height: 100vh;
    background-color: black;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }

  /* Class styles */

  /* Id styles */
  #data-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  #slideshow {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #city {
    padding-left: 15px;
    padding-right: 15px;
  }

  #clock {
    font-size: 10vh;
    padding-right: 5vh;
  }

  #weather {
    font-size: 3vh;
    display: flex;
    align-items: center;
  }
  
  #weather > h1 {
    font-weight: 300;
  }

  #weather > img {
    height: 10vh;
  }
}

/* MOBILE STYLES */
/* Global styles */
@media (orientation: portrait) {
  * {
    font-family: 'Fira Sans', arial, sans-serif;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 10px black;
  }
  
  body {
    height: 100vh;
    background-color: black;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }
  /* Class styles */
  
  /* Id styles */
  #city {
    margin-right: 15px;
  }

  #clock {
    font-size: 20vw;
  }

  #clock > h1 {
    font-weight: 200;
  }

  #data-container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    width: 100vw;
    top: 33.333%;
  }

  #slideshow {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #weather {
    display: flex;
    align-items: center;
    font-size: 4vw;
  }

  #weather img {
    height: 8vh;
  }
}