* {
  font-family: 'Fira Sans', arial, sans-serif;
  color: white;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: black;
}

h1 {
  margin: 0;
}

html {
  height: 100%;
}

#app {
  height: 100vh;
}

#city {
  margin-right: 25px;
  margin-left: 60px;
}

#clock {
  font-size: 800%;
}

#clock * {
  font-weight: 200;
}

#data-container {
  position: absolute;    
  right: 0;
  left: 0;
  top: 33.333%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-shadow: 0 0 10px black;
}

#slideshow {
  height: 100vh;
  background-size: cover;
  background-position: center;

}

#weather {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  width: 100%;
}

#weather * {
  font-weight: 400;
}

#weather img {
  height: 100px;
  margin-right: 0;
}