/* DESKTOP STYLES */
@media (min-width: 601px) {
  /* Global styles */

  * {
    font-family: 'Fira Sans', arial, sans-serif;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 10px black;
  }

  body {
    height: 100vh;
    background-color: black;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }

  /* Class styles */

  /* Id styles */
  #data-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  #slideshow {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #city {
    padding-left: 15px;
    padding-right: 15px;
  }

  #clock {
    font-size: 96px;
    padding-right: 60px;
  }

  #weather {
    font-size: 32px;
    display: flex;
    align-items: center;
  }

  #weather > img {
    height: 96px;
  }
}

/* MOBILE STYLES */
/* Global styles */
@media (max-width: 600px) {
  * {
    font-family: 'Fira Sans', arial, sans-serif;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 10px black;
  }
  
  body {
    height: 100vh;
    background-color: black;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }
  /* Class styles */
  
  /* Id styles */
  #city {
    margin-right: 15px;
  }

  #clock {
    font-size: 72px;
  }

  #clock > h1 {
    font-weight: 200;
  }

  #data-container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    width: 100vw;
    top: 33.333%;
  }

  #slideshow {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #weather {
    display: flex;
    align-items: center;

  }
}